@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.nav-buttons{
    margin-left: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 3.7rem;
    font-weight: 700;
}

h2{
    font-size: 1.8rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    font-weight: 800;
}

h4{
    font-size: 1.2rem;
    font-weight: 600;
}

h5{
    font-size: 2rem;
    font-weight: 400;
}

h6{
    color: #d8d8d8;
}

hr {
    width: 30px;
    height: 3px !important;
    color: coral;
    opacity: 0.7;
}

p.haha {
    MARGIN-TOP: -20px;
}

p.p-name {
    font-size: 19px;
}

img.logo {
    height: 29px;
}

#home .container button {
    PADDING: 16px;
    BORDER-RADIUS: 16PX;
    FONT-SIZE: 1.5rem;
}

#home .container H1{
    font-size: 4.5rem;
    font-weight: 700;
}


.navbar{
    font-size: 16px;
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    font-weight: 500;
    top: 0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-nav .nav-link{
    padding: 0 20px;
    color: #000;
    transition: 0.4s ease;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar i:hover,
.navbar-light .navbar-nav .nav-link .active
.navbar i:hover{
    color: coral;
}

.navbar i{
    font-size: 1.2rem;
    padding: 0 0.7px;
    transition: 0.4s ease;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width: 990px){
    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul{
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;
    }
}

#home{
    background-image: url('../imgs/slider.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.container-full{
    width: 100%;
}

#home .container button:hover{
    background: coral;
    transition: 0.4s ease;
    color: white;
}

.btn{
    background: #000;
    color: #fff;
}


.btn:hover{
    background-color: coral;
    color: #fff;
}

#home span{
    color: coral;
}

#new {
    width: 99%;
}

#new .one img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#new .one{
    position: relative;
}

#new .one .details{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-weight: bold;
    transition: 0.4s ease;
    opacity: 0.5;
    background-color: rgb(1, 1, 1);
    width: 100%;
    height: 100%;
}


#new .one .details:hover{
    opacity: 0.4;

}

#new .one .details button:hover{
    background: coral;
    color: white;
}


.text-uppercase{
    padding: 4px;
    border-radius: 7px;
    background: gray;
    font-weight: bold;
    color: black;
}

#new .one:nth-child(1) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#new .one:nth-child(2) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


#new .one:nth-child(3) .details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/*brand */
#brand .row img {
    margin: 0 0 40px 0;
}

/* Producy */

.list-product a {
    color: #000;
}

.product{
    cursor: pointer;
    margin-bottom: 2rem;
}

.product img{
    transition: 0.3s all;
}

.product img:hover{
    opacity: 0.7;
}

#banner{
    background-image: url(../imgs/banner.jpg);
    color: #fff;
}

#banner button{
    background-color: white;
    color: #000
}

#banner button:hover{
    background-color: coral;
}

footer{
    background-color: #393739;
    color: white!important;
}

footer a{
    color: #fff;
}

h6.header.text-uppercase.font-weight-bold {
    background-color: #fff;
}

#colorlib-footer ul a:hover{
    color: coral;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24% ;
    cursor: pointer;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.single-product input:focus{
    outline: none;
}

.single-product button{
    background-color: #fb774b;
    opacity: 1;
    transition: 0.4s all;
}

.single-product button:hover{
    background-color: #222222;
}

/* Cart */
.cart table{
    width: 100%;
    border-collapse: collapse;
}

.cart .product-info{
    display: flex;
    flex-wrap: wrap;
}

.cart th{
    text-align: left;
    padding: 5px 10px;
    color: #fff;
    background-color: #fb774b;
}

.cart td {
    padding: 10px 20px;
}

.cart td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.cart td input{
    width: 22%;
    padding: 3px;
}

.cart td a{
    color: #fb774b;
}

.cart .remove-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color: #fff;
    border: none;
    width: 100%;

}

.cart .edit-btn{
    color: #fb774b;
    text-decoration: none;
    font-size: 14px;
    background-color: #fff;
    border: none;
}

.cart .product-info p{
    margin: 3px;
}

.cart-total{
    display: flex;
    justify-content: flex-end;
}

.cart-total table{
    width: 100%;
    max-width: 500px;
    border-top: 3px solid #fb774b;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

.checkout-btn{
    display: flex;
    justify-content: flex-end;
    background-color: #fb774b;
    color: #fff;
}

.checkout-container{
    display: flex;
    justify-content: flex-end;
}


/*Login*/
#login-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#login-form input{
    width: 50%;
    margin: 5px auto;
}

#login-form #login-btn{
    background-color: #fb774b;
    color: #fff;
}

#login-form #register-url{
    color: #fb774b;
    background-color: #fff;
}

/*Register*/
#register-form{
    width: 50%;
    margin: 5px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid #fb774b;
}

#register-form input{
    width: 50%;
    margin: 5px auto;
}

#register-form #register-btn{
    background-color: #fb774b;
    color: #fff;
}

#register-form #login-url{
    color: #fb774b;
    background-color: #fff;
}

/*Account*/
#account-form{
    width: 50%;
    margin: 35px auto;
    text-align: center;
    padding: 20px;
}

#account-form input{
    margin: 5px auto;
}

#account-form #change-pass-btn{
    color: #fff;
    background-color: #fb774b;
}

a#orders-btn {
    color: #fb774b;
}

 #logout-btn{
    color: #fb774b;
    text-decoration: none;
}

/* Account_Orders */


.orders .orders-details-btn {
    color: #fff;
    background-color: #fb774b;
    width: 70px;
    height: 21px;
}

.orders img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.orders td{
    padding: 10px 20px;
}

.orders-tb{
    display: flex;
}

table#orders-tb {
    width: 100%;
}


/* Place order */
.orders input:hover{
    background-color: blue;
}

/*Checkout*/
#checkout-form .checkout-small-element{
    display: inline-block;
    width: 48%;
    margin: 10px auto;
}

#checkout-form .checkout-large-element{
    width: 97%;
}

#checkout-form .checkout-btn-container{
    margin: 10px;
    text-align: right;
    margin-right: 40px;
}

#checkout-form #checkout-btn{
    color: #fff;
    background-color: #fb774b;
}

/*Contact*/
#contact span{
    color: #fb774b;
}

/* Shop */

.left-section {
    float: left;
    width: 20%; 
}

.right-section {
    float: left;
    width: 80%; 
}

#full{
    margin-right: 10%;
}

.product .f-name{
    font-size: 16px;
}

.page-link:hover{
    color: #fb774b;
}

.product .buy-btn{
    background-color: #fb774b;
    transform: translateY(50px);
    opacity: 0;
    transition: 0.3s all;
    color: #fff;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

.shop-buy-btn{
    background-color: #fb774b;
    opacity: 1;
    color: #fff;
    text-decoration: none;
}

.shop-buy-btn:hover{
    color: #000;
}

.fix-btn{
    font-size: 18px;
}


section.cart.container.my-5.py-5 {
    height: 67vh;
}

section.my-5.py-5 {
    height: 67vh;
}
